        <h1 class="title">Search Results</h1>
	<table>
		<thead>
		    <th>name</th>
            {{#each recipes}}
		<tr>	
		   <td><a href="/recipes/{{id}}" class="link">{{name}}</a></td>
		</tr>
	    {{/each}}
        </table>
        <a href="../index.html" class="link">Back To Home Page</a>
	<script src="../viewRecipe.js"></script>
