<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search Results</title>
    </head>
    <body>
        <h1>Contributor Page<h1>
        <h2>This page will be generated in handlebars and show links to other recipes
            that user has contributed to as well as any cooking Experience they optionally
            enter on their page.<h2>
        <a href=index.html>back to home page</a>
    </body>
</html>
