<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Recipe</title>
    </head>
    <body>
        <h1>Recipe Name</h1>
        <h2>This will be created in handlebars providing all the instructions, ingredients,
            cookware, contributor and date contributed</h2>
        <a href="contributor.handlebars">link to contributor page</a>
    </body>
</html>
