<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search Results</title>
    </head>
    <body>
        <h1>Search Results</h1>
        <h2>This page will be generated using handlebars<h2>
        <a href="recipe_display.handlebars">link to recipe_display page</a>
    </body>
</html>
